<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="utf-8">
    <title>Speakers</title>
  </head>

  <body>

      <h1>Add Speakers</h1>

      <a href="{% url 'index' %}"><button>Cancel</button></a>

      <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Add</button>
      </form>

  </body>
</html>
