<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="utf-8">
    <title>Speakers</title>
  </head>

  <body>

      <h1>Speakers</h1>

      <a href="{% url 'add_speaker' %}"><button>New</button></a>
      <a href="{% url 'add_speaker_cbv' %}"><button>New cbv</button></a>

      {% for speaker in speakers %}

        <h2>{{ speaker.name }}</h2>

        <p><b>Talks :</b><br />

        {% for talk in speaker.talk_set.all %}
          - {{ talk.title }} : {{ talk.content }}<br />
        {% endfor %}

        <p>

      {% endfor %}

  </body>
</html>
